body {
    font-family: "Arial";
    background-color: Black;
    color: White;
    /*border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    overflow: auto;*/
}

.btn-tuit {
    background-color: #0d6efd;
    color: White;
    border-radius: 20px;
}


.btn-follow {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.wd-list-bg {
    background-color: black;
    color: white;
}

.wd-list-bg {
    background-color: black;
    color: white;
}

.wd-list-follow-bg {
    background-color:#20262A ;
    color: white;
    border-color:#20262A;
}


.wd-search-icon {
    top: 10px;
    left: 10px;
}

.zindex-bring-to-front {
    position: relative;
    top: 57px;
    left: 5%;
    z-index: 1000;
}

body input::placeholder {
    color: white;
}

.wd-main-title {
    margin-top: 0px;
    margin-left: 16px;
}

.wd-music-title {
    bottom: 70px;
    left: 6px;
    position: absolute;
    color: white;
}


.wd-search-bar {
    background-color: #20262A;
    border: 3px rgb(47, 51, 54);
    color: white;

}
.wd-gear {
    font-size:30px;
    color:rgb(29,161,242);
    position: absolute;
    margin-right: 12px;
    right:12px;
    top: 78px;
}


.wd-nav-tabs{
    margin-bottom: 0px;
    color: rgb(110, 118, 125);
    padding-left: 0px;
}

.wd-nav-tabs li{
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding: 16px;
    margin-top: 50px;

}

.wd-nav-tabs .wd-selected {
    color: rgb(29,161,242);

}

.wd-selected-ul {
    padding-bottom: 8px;
    border-bottom: solid 4px rgb(29,161,242);
}

.flex-container {
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}
.flex-box {
    padding: 10px 0px 10px 0px;

}

.flex-container>.flex-box> .grid-col-right-sidebar > .wd-image {
    height: 100px;
    width: 100px;
    float: right;
    position: relative;
    border-radius: 30px;
    margin-right: 16px;
}

.wd-title {
    color: rgb(110, 118, 125);
    font-size: 13px ;
    margin-left: 16px;

}


.wd-options-interpunct{
    color: rgb(110, 118, 125);
    float:right;
    margin-right: 16px;
}


.wd-title2 {
    color: White;
    font-size: 13px ;

}


.wd-rectangle {
    position: relative;
}

.wd-icon {
    height: 15px;
    width: 18px;
}

.wd-icon2 {
    height: 25px;
    width: 25px;
    top: 10px
}

.flex-container>.flex-box > .wd-title2 >.wd-icon2 {
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
    left: 2px;
    border: none;

}

.grid-col-right-sidebar {
    width: 10%;
    float: right;
}
