body {
    font-family: "Arial";
    /*background-color: Black;
    color: White;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    overflow: auto;*/
}

.btn-tuit {
    background-color: #0d6efd;
    color: White;
    border-radius: 20px;
}


.wd-search-icon {
    top: 10px;
    left: 10px;
}

.zindex-bring-to-front {
    position: relative;
    top: 57px;
    left: 5%;
    z-index: 1000;
}

.wd-main-title {
    margin-top: 0px;
    margin-left: 16px;
}


.wd-search-bar {
    position: absolute;
    border-radius: 30px;
    background-color: darkgray;
    border: 3px rgb(47, 51, 54);
    width: 82%;
    top: 80px;
    margin-left: 16px;

}
.wd-gear {
    font-size:30px;
    color:rgb(29,161,242);
    position: absolute;
    margin-right: 12px;
    right:12px;
    top: 78px;
}
